
h2, h3 {
	
	color: orange;
	text-shadow: 2px 2px 7px #eee;
	
}

h1 {
	
	text-shadow: -1px 2px 0px black;
}

h1:first-letter {
	
color: yellow;

}
a :link {
	color: deeppink;
}
a :hover {
	
	color: pink;

}

body {
	
	background-color: grey; 
	font-family: helvetica; 
}

h1 {
	
	color: blue;
}